<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/links.ejs')  %>
</head>
<body>
  <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
    <div class="p-2 m-2 rounded-2">
      <h1>Welcome to dashboard</h1>
    </div>
  </div>
  <% console.log("Hello World"); %>
  <%- include('../common/scripts.ejs')  %>
</body>
</html>